---
junos_reboot_required:
    - "set security forwarding-options family inet6 mode flow-based"

junos_config_group:
  applications:
    application MINECRAFT-JAVA:
      protocol: tcp
      destination-port: 25565
    application MINECRAFT-BEDROCK:
      protocol: udp
      destination-port: 19132
    application SERVER-MAPPER:
      protocol: tcp
      destination-port: 449
    application LICENSE-MANAGEMENT:
      protocol: tcp
      destination-port: 8470
    application LICENSE-MANAGEMENT-SSL:
      protocol: tcp
      destination-port: 9470
    application DATABASE-ACCESS:
      protocol: tcp
      destination-port: 8471
    application DATABASE-ACCESS-SSL:
      protocol: tcp
      destination-port: 9471
    application DATA-QUEUES:
      protocol: tcp
      destination-port: 8472
    application DATA-QUEUES-SSL:
      protocol: tcp
      destination-port: 9472
    application IFS-ACCESS:
      protocol: tcp
      destination-port: 8473
    application IFS-ACCESS-SSL:
      protocol: tcp
      destination-port: 9473
    application NETWORK-PRINTERS:
      protocol: tcp
      destination-port: 8474
    application NETWORK-PRINTERS-SSL:
      protocol: tcp
      destination-port: 9474
    application REMOTE-COMMAND:
      protocol: tcp
      destination-port: 8475
    application REMOTE-COMMAND-SSL:
      protocol: tcp
      destination-port: 9475
    application SIGNON-VERIFICATION:
      protocol: tcp
      destination-port: 8476
    application SIGNON-VERIFICATION-SSL:
      protocol: tcp
      destination-port: 9476
    application HOST-CONNECTION-SSL:
      protocol: tcp
      destination-port: 9480
    application TELNET-SSL:
      protocol: tcp
      destination-port: 992
    application NEW-NAVIGATOR-FOR-I:
      protocol: tcp
      destination-port: 2002
    application NEW-NAVIGATOR-FOR-I-SSL:
      protocol: tcp
      destination-port: 2003
    application OLD-NAVIGATOR-FOR-I:
      protocol: tcp
      destination-port: 2004
    application OLD-NAVIGATOR-FOR-I-SSL:
      protocol: tcp
      destination-port: 2005
    application DIGITAL-CERTIFICATE-MANAGER:
      protocol: tcp
      destination-port: 2006
    application DIGITAL-CERTIFICATE-MANAGER-SSL:
      protocol: tcp
      destination-port: 2007
    application HTTP-ADMINISTRATION:
      protocol: tcp
      destination-port: 2001
    application HTTP-ADMINISTRATION-SSL:
      protocol: tcp
      destination-port: 2010
    application DDM-DRDA:
      protocol: tcp
      destination-port: 446
    application DDM-DRDA-SSL:
      protocol: tcp
      destination-port: 448
    application SERVICE-TOOLS-SERVER:
      protocol: tcp
      destination-port: 3000
    application HMC-5250-CONSOLE:
      protocol: tcp
      destination-port: 2300
    application HMC-5250-CONSOLE-SSL:
      protocol: tcp
      destination-port: 2301
    application ACS-LAN-CONSOLE:
      term t1:
        protocol: tcp
        destination-port: 3001
      term t2:
        protocol: tcp
        destination-port: 3002
      term t3:
        protocol: tcp
        destination-port: 2300
      term t4:
        protocol: tcp
        destination-port: 2323

    application-set IBM-I-NON-SSL:
      application:
        - SERVER-MAPPER
        - LICENSE-MANAGEMENT
        - DATABASE-ACCESS
        - DATA-QUEUES
        - IFS-ACCESS
        - NETWORK-PRINTERS
        - REMOTE-COMMAND
        - SIGNON-VERIFICATION
        - junos-telnet
        - NEW-NAVIGATOR-FOR-I
        - OLD-NAVIGATOR-FOR-I
        - DIGITAL-CERTIFICATE-MANAGER
        - HTTP-ADMINISTRATION
        - DDM-DRDA
        - junos-ssh
        - SERVICE-TOOLS-SERVER
        - HMC-5250-CONSOLE
        - ACS-LAN-CONSOLE
      application-set:
        - junos-cifs
    application-set IBM-I-SSL:
      application:
        - LICENSE-MANAGEMENT-SSL
        - DATABASE-ACCESS-SSL
        - DATA-QUEUES-SSL
        - IFS-ACCESS-SSL
        - NETWORK-PRINTERS-SSL
        - REMOTE-COMMAND-SSL
        - SIGNON-VERIFICATION-SSL
        - HOST-CONNECTION-SSL
        - TELNET-SSL
        - NEW-NAVIGATOR-FOR-I-SSL
        - OLD-NAVIGATOR-FOR-I-SSL
        - DIGITAL-CERTIFICATE-MANAGER-SSL
        - HTTP-ADMINISTRATION-SSL
        - DDM-DRDA-SSL
        - HMC-5250-CONSOLE-SSL
    application-set IBM-I:
      application-set:
        - IBM-I-NON-SSL
        - IBM-I-SSL
    application-set MINECRAFT:
      application:
        - MINECRAFT-JAVA
        - MINECRAFT-BEDROCK

  security:
    address-book:
      global:
        address:
          - GOOGLE-8-8-4-4-32 8.8.4.4/32
          - GOOGLE-8-8-8-8-32 8.8.8.8/32
          - GOOGLE-2001-4860-4860--8844-128 2001:4860:4860::8844/128
          - GOOGLE-2001-4860-4860--8888-128 2001:4860:4860::8888/128
          - NIST-129-6-15-27-32 129.6.15.27/32
          - NIST-129-6-15-26-32 129.6.15.26/32
          - NIST-132-163-97-4-32 132.163.97.4/32
          - NIST-132-163-96-4-32 132.163.96.4/32
          - NIST-2610-20-6f15-15--27-128 2610:20:6f15:15::27/128
          - NIST-2610-20-6f15-15--26-128 2610:20:6f15:15::26/128
          - NIST-2610-20-6f97-97--4-128 2610:20:6f97:97::4/128
          - NIST-2610-20-6f96-96--4-128 2610:20:6f96:96::4/128

        address-set GOOGLE-DNS-IPV4:
          address:
            - GOOGLE-8-8-4-4-32
            - GOOGLE-8-8-8-8-32

        address-set GOOGLE-DNS-IPV6:
          address:
            - GOOGLE-2001-4860-4860--8844-128
            - GOOGLE-2001-4860-4860--8888-128

        address-set NIST-NTP-IPV4:
          address:
            - NIST-129-6-15-27-32
            - NIST-129-6-15-26-32
            - NIST-132-163-97-4-32
            - NIST-132-163-96-4-32

        address-set NIST-NTP-IPV6:
          address:
            - NIST-2610-20-6f15-15--27-128
            - NIST-2610-20-6f15-15--26-128
            - NIST-2610-20-6f97-97--4-128
            - NIST-2610-20-6f96-96--4-128

    screen:
      ids-option UNTRUST-SCREEN:
        icmp:
          ping-death: true
        ip:
          source-route-option: true
          tear-drop: true
        tcp:
          syn-flood:
            alarm-threshold: 1024
            attack-threshold: 200
            source-threshold: 1024
            destination-threshold: 2048
            timeout: 20
          land: true
