# Don't forget to define ansible_host per device, the juniper.device.pyez connection requires an IP rather than a
# hostname for connecting to devices

[ex]
ex-01.local

[nfx]
nfx-01.local ansible_host=192.168.1.10

[srx]
srx-01.local ansible_host=192.168.1.11

[qfx]
qfx-01.local
