[ex]
ex-01.local

[nfx]
nfx-01.local

[srx]
srx-01.local

[qfx]
qfx-01.local

# We set ansible_host to the inventory hostname to ensure devices are connected to using their hostname, not IP address. If your
# device isn't in DNS you can change this or set ansible_host to the host's IP address per host.
[all:vars]
ansible_host="{{ inventory_hostname }}"
