{% include "juniper.conf.j2" %}

system {
    {% if system_name_servers is defined and system_name_servers %}
    replace:
    name-server {
        {% for server in system_name_servers %}
        {{ server }} routing-instance mgmt_junos;
        {% endfor %}
    }
    {% endif %}
    replace: 
    syslog {
        archive {
            size 100k;
            files 3;
        }
        user * {
            any emergency;
        }
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
    {% if system_ntp_servers is defined and system_ntp_servers %}
    replace:
    ntp {
        {% for server in system_ntp_servers %}
        server {{ server }} routing-instance mgmt_junos;
        {% endfor %}
    }
    {% endif %}
}
