system {
    host-name {{ inventory_hostname.split('.')[0] }};
    root-authentication {
        encrypted-password "{{ system_root_authentication | trim }}";
    }
    login {
{% for user in system_login_users %}
        user {{ user.name }} {
            class {{ user.class }};
            authentication {
                {{ user.authentication_type }} "{{ user.authentication_value | trim }}";
            }
        }
{% endfor %}
    }
    services {
        netconf {
            ssh;
            rfc-compliant;
            yang-compliant;
        }
        ssh {
            root-login deny;
            protocol-version v2;
            max-sessions-per-connection 64;
            connection-limit 16;
            rate-limit 50;
        }
    }
    domain-name {{ inventory_hostname.split('.')[1:] | join('.') }};
    management-instance;
}
interfaces {
    {% if device_model == 'acx500' -%}
    fxp0
    {%- elif device_model.startswith(('acx5', 'acx6', 'qfx')) -%}
    em0
    {%- elif device_model.startswith('ex') -%}
    me0
    {%- else -%}
    fxp0
    {%- endif %} {
        unit 0 {
            family inet {
                address {{ management_ip }};
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        description "Management VRF";
        routing-options {
            static {
                route 0.0.0.0/0 next-hop {{ management_gateway }};
            }
        }
    }
}
