system {
    host-name {{ inventory_hostname.split('.')[0] }};
    root-authentication {
        encrypted-password "{{ system_root_authentication | trim }}";
    }
    login {
{% for user in system_login_users %}
        user {{ user.name }} {
            class {{ user.class }};
            authentication {
                {{ user.authentication_type }} "{{ user.authentication_value | trim }}";
            }
        }
{% endfor %}
    }
    services {
        ssh {
            root-login deny;
            protocol-version v2;
            max-sessions-per-connection 64;
            connection-limit 16;
            rate-limit 50;
        }
        netconf {
            ssh;
            rfc-compliant;
            yang-compliant;
        }
    }
    auto-snapshot;
    dgasp-int;
    dgasp-usb;
    domain-name {{ inventory_hostname.split('.')[1:] | join('.') }};
    {% if management_instance | default(true) | bool %}
    management-instance;
    {% endif %}
}
interfaces {
    {#
      You can set a different management interface if you don't want to use the default management interface; note
      that the mgmt_junos VRF is hardcoded to only work with the default em0/fxp0/me0 interfaces, so you will need to
      create a separate VRF if you want strict isolation.
    #}
    {% if management_interface is defined and management_interface %}
    {{ management_interface }}
    {% elif device_model == 'acx500' %}
    fxp0
    {% elif device_model.startswith(('acx5', 'acx6', 'qfx')) %}
    em0
    {% elif device_model.startswith('ex') %}
    me0
    {% else %}
    fxp0
    {% endif %} {
        unit 0 {
            family inet {
                address {{ management_ip }};
            }
        }
    }
}
{# You have the option of disabling the mgmt_junos VRF if you want, but it is enabled by default #}
{% if management_instance | default(true) | bool %}
routing-instances {
    mgmt_junos {
        description "Management VRF";
        routing-options {
            static {
                route 0.0.0.0/0 next-hop {{ management_gateway }};
            }
        }
    }
}
{% endif %}
