groups {
    NFX-SXE-DEFAULT {
        interfaces {
            "<sxe-*>" {
                mtu 9192;
                ether-options {
                    no-flow-control;
                }
            }
        }
    }
}
system {
    memory {
        hugepages {
            page-size 1024 {
                page-count {{ hugepage_count }};
            }
        }
    }
}
interfaces {
    apply-groups NFX-SXE-DEFAULT;
}
