security {
    forwarding-options {
        family {
            inet6 {
                mode flow-based;
            }
        }
    }
    screen {
        ids-option UNTRUST-SCREEN {
            icmp {
                ping-death;
            }
            ip {
                source-route-option;
                tear-drop;
            }
            tcp {
                syn-flood {
                    alarm-threshold 1024;
                    attack-threshold 200;
                    source-threshold 1024;
                    destination-threshold 2048;
                    timeout 20;
                }
                land;
            }
        }
    }
    zones {
        security-zone UNTRUST {
            screen UNTRUST-SCREEN;
            interfaces {
                ge-0/0/0.0 {
                    host-inbound-traffic {
                        system-services {
                            dhcp;
                            dhcpv6;
                        }
                    }
                }
            }
        }
    }
    policies {
        pre-id-default-policy {
            then {
                log {
                    session-close;
                }
            }
        }
    }
}
